<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>London Geochronology Centre - X-Y Controller</title>
<link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	  <section class="banner">
		  <div >
              <P class="logo">London Geochronology Centre - X-Y Controller Server Status &nbsp CPU {{cputemperature}}&deg;C</P>
              <p class="breadcrumbtext"><a href = "/" class="breadcrumblink">Return to index</a> &nbsp|&nbsp
              <a href = "/pylog" class="breadcrumblink">Application Log</a> &nbsp|&nbsp
              <a href = "/guaccesslog" class="breadcrumblink">Website Access Log</a> &nbsp|&nbsp
              <a href = "/guerrorlog" class="breadcrumblink">Website Error Log</a> &nbsp|&nbsp
              <a href = "/syslog" class="breadcrumblink">System Log</a></p><br>
          </div>
  </section>
<section class="container2">
    <p class="sectiontext">{{log}}<br>
        &nbsp</p>
        <p class="tabledataleft">
        {% for row in rows %}
            <slot {% if 'ERROR' in row %} class="logerror" {% elif 'WARN' in row %} class="logwarning" {% else %} class="loginfo" {% endif %}>{{row}}</slot><br>
        {% endfor %}
        &nbsp</p>
	</section>
  <section class="banner">
       <div class ="copyright"><strong>Software Version</strong> {{version}}<br>&copy;2024 - <strong>London Geochronology Centre</strong></div>
	  </section>
</body>
</html>
